.godot/
*.blend1
*.blend2
__pycache__/
.venv/
/build/windows/*
!/build/windows/.gitkeep
/build/linux/*
!/build/linux/.gitkeep
/build/archive/
/build/android/
*.keystore
*.jks
game/.godot/
game/android/
/build/*.tar.gz
/build/*.zip
/tools/local/
*.tmp
