*/profile/
*/game.log
*/supervisor-events.jsonl
*/supervisor.log
*/vulkaninfo.txt
*/weston.log
*/xwayland.log
native-easy-02/
native-medium-01/
native-medium-02/
native-medium-03/
native-medium-04/
native-medium-05/
native-medium-06/
native-medium-07/
